{{#each posts}}

{{#if loggedIn}}

<p>logged In</p>

{{/if}}
<button type="button" class=" createPost btn btn-info">Create Post</button>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{post_title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Posted by {{user_id}} on {{createdAt}}</h6>
    <p class="card-text">{{contents}}</p>
    <a href="/post/{{id}}" class="card-link">Post link</a>
  </div>
</div>


{{/each}}
